//AvantGardeC font
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Reddit+Sans+Condensed:wght@200..900&display=swap");
@font-face {
  font-family: "AvantGardeC";
  src: url("./fonts/AvantGardeC/AvantGardeC-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvantGardeC";
  src: url("./fonts/AvantGardeC/AvantGardeC-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-family-main: "Play", sans-serif;
  --font-family-subMain: "AvantGardeC", sans-serif;

  //fonts
  --font-size-1: 14px;
  --font-size-2: 22px;
  --font-size-3: 30px;
  --font-size-4: 19px;
  --font-size-5: 27px;
  --font-size-6: 40px;
  --font-size-7: 105px;

  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  //Paddings
  --padding-main-sides: 30px;
  --padding-top: 25px;
  --margin-navbar-bottom: 80px;

  //indexes
  --z-index-max: 100;
  --z-index-before: 1;
  --z-index-content: 2;
  --z-index-navbar: 10;

  //colors
  --primary-color: #333333;
  --secondary-color: #000000b7;
  --third-color: #fff;
  --bg-color: #232323;
  --color-white: #ffffff;
  --gray-light-color: #afaeae;
  --gray-dark-color: #636363;
  --blue-light-color: #179cde;
  --blue-dark-color: #0088cc;
  --color-skeleton: rgba(167, 165, 165, 0.6);
  --color-skeleton-after: rgba(255, 255, 255, 0.6);
  --color-green: rgb(5, 168, 5);
  --color-red: rgb(255, 0, 0);

  //heights
  --logo-height: 48px;

  //widths
  --lesson-1: 60px;
  --lesson-2: 20px;

  //borders
  --border-radius-button: 5px;
  --pic-transiction: all 0.1s linear;

  //transitions
  --transition-button-type1: all 0.1s linear;

  --min-height-100vh: calc(
    101vh - var(--logo-navbar-height) - var(--padding-navbar-top) * 2 -
      var(--margin-navbar-bottom)
  );
}

// //Poppins font
// @font-face {
//   font-family: 'Poppins';
//   src: url('../fonts/Poppins/Poppins-Thin.ttf') format('truetype');
//   font-weight: 100;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Poppins';
//   src: url('../fonts/Poppins/Poppins-ThinItalic.ttf') format('truetype');
//   font-weight: 100;
//   font-style: italic;
// }
// @font-face {
//   font-family: 'Poppins';
//   src: url('../fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
//   font-weight: 200;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Poppins';
//   src: url('../fonts/Poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
//   font-weight: 200;
//   font-style: italic;
// }
// @font-face {
//   font-family: 'Poppins';
//   src: url('../fonts/Poppins/Poppins-Light.ttf') format('truetype');
//   font-weight: 300;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Poppins';
//   src: url('../fonts/Poppins/Poppins-LightItalic.ttf') format('truetype');
//   font-weight: 300;
//   font-style: italic;
// }
// @font-face {
//   font-family: 'Poppins';
//   src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Poppins';
//   src: url('../fonts/Poppins/Poppins-Italic.ttf') format('truetype');
//   font-weight: 400;
//   font-style: italic;
// }
// @font-face {
//   font-family: 'Poppins';
//   src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
//   font-weight: 500;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Poppins';
//   src: url('../fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype');
//   font-weight: 500;
//   font-style: italic;
// }
// @font-face {
//   font-family: 'Poppins';
//   src: url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
//   font-weight: 600;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Poppins';
//   src: url('../fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
//   font-weight: 600;
//   font-style: italic;
// }
// @font-face {
//   font-family: 'Poppins';
//   src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
//   font-weight: 700;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Poppins';
//   src: url('../fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype');
//   font-weight: 700;
//   font-style: italic;
// }
// @font-face {
//   font-family: 'Poppins';
//   src: url('../fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
//   font-weight: 800;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Poppins';
//   src: url('../fonts/Poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
//   font-weight: 800;
//   font-style: italic;
// }
