//AvantGardeC font
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --font-family-main: "Roboto", sans-serif;
  --font-family-subMain: "AvantGardeC", sans-serif;

  //fonts
  --font-size-1: 11px;
  --font-size-2: 22px;
  --font-size-3: 30px;
  --font-size-title: 45px;
  --font-size-button: 17px;
  --font-size-text: 15px;
  --font-size-pair: 20px;
  --font-size-time: 14px;
  --font-size-4: 19px;
  --font-size-5: 27px;
  --font-size-6: 40px;
  --font-size-7: 105px;

  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  //Paddings
  --padding-main-sides: 10px;
  --padding-top: 25px;
  --padding-bottom: 25px;
  --margin-navbar-bottom: 80px;

  //indexes
  --z-index-page-loader: 110;
  --z-index-max: 100;
  --z-index-before: 1;
  --z-index-content: 2;
  --z-index-navbar: 10;

  //colors
  --primary-color: #000000;
  --secondary-color: #1c1c1c;
  --text-color: rgb(255, 255, 255);
  --border-color: #fff;

  --accent-color-1: #7bff00;
  --accent-color-2: #00f2b0;

  --secondary-contrast-color: rgb(139, 139, 139);
  --third-color: #fff;
  --bg-color: #232323;
  --color-white: #ffffff;
  --gray-light-color: #afaeae;
  --gray-dark-color: #636363;
  --blue-light-color: #179cde;
  --blue-dark-color: #0088cc;
  --color-skeleton: rgba(167, 165, 165, 0.6);
  --color-skeleton-after: rgba(255, 255, 255, 0.6);
  --color-green: rgb(5, 168, 5);
  --color-light-green: rgba(0, 154, 0, 0.294);
  --color-red: rgb(255, 0, 0);
  --color-light-red: rgba(255, 0, 0, 0.285);

  //heights
  --navbar-height: 80px;

  //widths
  --lesson-1: 60px;
  --lesson-2: 20px;

  //borders
  --border-radius-button: 5px;
  --pic-transiction: all 0.1s linear;

  //transitions
  --transition-button-type1: all 0.1s linear;

  --min-height-100vh: calc(
    101vh - var(--logo-navbar-height) - var(--padding-navbar-top) * 2 -
      var(--margin-navbar-bottom)
  );
}

@media screen and (min-width: 300px) {
  :root {
    --font-size-1: 12px;
  }
}
@media screen and (min-width: 320px) {
  :root {
    --font-size-1: 13px;

    --padding-main-sides: 15px;
  }
}
