@import '../../../../../app/styles/mixins/mixins.scss';

.Section5Title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.TitleGradient {
  @include TitleGradient;
  font-size: var(--font-size-2);
}

.Title {
  @include Title;
  margin: 0 auto;
}

.Titlewrapper {
  overflow: hidden;
  margin-bottom: 15px;
}
