.Chart {
  width: 100%;

  > div {
    padding: 20px 0 20px 0;
    // border-top: 1px solid #99999963;
    // border-bottom: 1px solid #99999963;
    width: 100% !important;
    height: 100% !important;
    // border: 1px solid #99999963;
    // border-radius: 20px;

    > table {
      width: auto !important;
      height: auto !important;
    }
  }
}
