@import '../../../../../app/styles/mixins/mixins.scss';

.Section8Title {
  @include Title;
  display: flex;
  flex-wrap: wrap;
  white-space: pre-wrap;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
  width: 100%;

  &__gradient {
    @include TitleGradient;
  }
}

.Part {
  display: flex;
  flex-wrap: wrap;
  white-space: pre-wrap;
  width: 100%;
  align-items: center;
}
.Titlewrapper {
  overflow: hidden;
}
