.SingleInputForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  &__input {
    position: relative;
    width: 100%;

    &__buttons {
      display: flex;
      align-items: center;
      position: absolute;
      top: 50%;
      gap: 7px;
      right: 14px;
      transform: translateY(-50%);
      width: 8%;
      justify-content: flex-end;
    }

    &__textField {
      > label {
        color: var(--tg-theme-subtitle-text-color);
      }

      > div {
        > input {
          width: calc(92% - 28px);
        }

        > fieldset {
          border-color: var(--tg-theme-subtitle-text-color);
        }

        &:hover {
          > fieldset {
            border-color: var(--tg-theme-subtitle-text-color) !important;
          }
        }
      }
    }
  }
  &__submit {
    display: flex;
    &__pic {
      font-size: 16px;

      > path {
        fill: var(--tg-theme-subtitle-text-color);
      }
    }
  }
  &__cancel {
    display: flex;
    margin-top: 1px;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;

    &__pic {
      font-size: 13px;

      > path {
        fill: var(--tg-theme-button-color);
      }
    }
  }
}

.ButtonsActive {
  > svg {
    > path {
      fill: var(--tg-theme-subtitle-text-color) !important;
    }
  }
}

.ButtonsError {
  > svg {
    > path {
      fill: var(--color-red) !important;
    }
  }
}

#search-clear {
  display: none !important;
}

.Error {
  color: var(--color-red);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-medium);
}

.Loader {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;

  svg {
    path {
      fill: var(--tg-theme-button-color);
    }
  }
}
