.LoginPic {
  height: 18px;
  width: 18px;

  @media screen and (max-width: 1500px) {
    height: 14px;
    width: 14px;
  }
}

.ButtonType1 {
  .LoginPic {
    @media screen and (max-width: 1350px) {
      margin-left: -7px;
    }
  }
  @media (hover: hover) {
    &:hover {
      .LoginPic {
        path {
          fill: var(--color-black);
          transition: var(--transition-button-type1);
        }
      }
    }
  }
}

.ButtonType1 {
  div {
    padding: 5px 22px;

    @media screen and (max-width: 1500px) {
      padding: 5px 20px;
    }
  }
}
