* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

* {
  text-decoration: none;
  list-style-type: none;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

li {
  &::marker {
    display: none;
  }
}
