.PageLoader {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--tg-theme-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--z-index-page-loader);
  pointer-events: none;
  min-width: 280px;
}

.Spinner {
  width: 100px;
  > svg {
    > path {
      fill: var(--tg-theme-button-color);
    }
  }
}
