@import '../../../../../app/styles/mixins/mixins.scss';

.Section3Title {
  @include Title;
  display: flex;
  flex-wrap: wrap;
  white-space: pre-wrap;

  &__gradient {
    @include TitleGradient;
  }
}

.Part {
  display: flex;
  flex-wrap: wrap;
  white-space: pre-wrap;
}
.Titlewrapper {
  overflow: hidden;
}
