@import "../../../app/styles/mixins/mixins.scss";

.LoginPage {
  display: flex;
  min-height: 100vh;
  transform: translateY(0px);
  transition: all 0.2s linear;
  @include Section;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 200px;
    margin-bottom: 0;
    gap: 65px;

    @media screen and (max-height: 950px) {
      padding-top: 160px;
    }
    @media screen and (max-height: 850px) {
      padding-top: 120px;
      gap: 50px;
    }
    @media screen and (max-height: 750px) {
      padding-top: 80px;
      gap: 45px;
    }
    @media screen and (max-height: 650px) {
      padding-top: 50px;
      gap: 40px;
    }

    &__logo {
      height: 160px;
      width: 160px;

      display: flex;
      justify-content: center;
      &__pic {
        width: 100%;
        height: 100%;
      }

      @media screen and (max-height: 650px) {
        height: 120px;
        width: 120px;
      }
    }

    &__title {
      color: var(--tg-theme-text-color);
      font-size: var(--font-size-title);
      text-align: center;
      max-width: 340px;
      letter-spacing: 3px;
      font-weight: 500;
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 20px;
      margin-bottom: 20px;

      > button {
        width: fit-content !important;
      }
    }

    &__bottom {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-top: auto;

      &__text {
        font-size: var(--tg-theme-secondary-bg-color);
        color: var(--tg-theme-subtitle-text-color);
        font-size: var(--font-size-1);
        font-weight: 400;
      }

      &__pic {
        height: 14px;
        width: 14px;
      }
    }
  }
}

.LoginPageSlide {
  transform: translateY(-50px);
}

@keyframes slide {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-50px);
  }
}

.SkeletonButton {
  border-radius: 28px !important;
}
