.NavbarMobile {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding: var(--padding-navbar-top) var(--padding-main-sides);
  justify-content: space-between;
  background: var(--color-navbar-overlay);
  transform-origin: top center;
  top: 0;
  left: 00;
  z-index: var(--z-index-navbar);

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.Logo {
  display: flex;
  align-items: center;

  &__pic {
    height: var(--logo-height);
  }
}
