@import "../../../app/styles/mixins/mixins.scss";

.ButtonType1 {
  @include ButtonType1Container;
  cursor: pointer;

  &__content {
    @include ButtonType1Btn;
    position: relative;
    background: inherit;
    border-radius: 28px;
    position: relative;
    &__text {
      color: var(--primary-color);
      font-size: var(--font-size-button);
      color: var(--tg-theme-button-text-color);
      font-weight: var(--font-weight-medium);
      transition: var(--transition-button-type1);
    }
  }
}

.onNavbar {
  background-color: var(--color-navbar-overlay);
}

.ItemsHide {
  opacity: 0;
}

.Loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75%;
  aspect-ratio: 1 / 1;
}
