.NavbarLink {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-medium);
  transition: color 0.2s linear;

  > span {
    display: none;
  }
  @media screen and (max-width: 1350px) {
    > span {
      display: block;
    }
  }

  &:hover {
    color: var(--color-yellow);
  }
}
