.Section3Content {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media screen and (max-width: 1550px) {
    gap: 35px;
  }
  @media screen and (max-width: 1350px) {
    gap: 32px;
  }
  @media screen and (max-width: 1100px) {
    gap: 30px;
  }
  @media screen and (max-width: 1000px) {
    gap: 25px;
  }
  @media screen and (max-width: 900px) {
    align-self: flex-start;
  }
  @media screen and (max-width: 650px) {
    gap: 20px;
  }
  @media screen and (max-width: 350px) {
    gap: 15px;
  }
}

.ButtonType1 {
  width: fit-content;

  @media screen and (max-width: 550px) {
    width: 100% !important;
  }
}
