@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@mixin BeforeGradient {
  content: "";
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(0);
  width: calc(100%);
  height: calc(100%);
  background: linear-gradient(
    90deg,
    var(--color-gradient-yellow) 0%,
    var(--color-gradient-pink) 50%,
    var(--color-gradient-blue) 100%
  );
  border-radius: 8px;
  background-size: 200%;
  animation: animatedGradient 4s ease-in infinite;
  z-index: var(--z-index-before);
}
@mixin AfterGradient {
  content: "";
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(0);
  width: calc(100%);
  height: calc(100%);
  background: linear-gradient(
    90deg,
    var(--color-gradient-yellow) 0%,
    var(--color-gradient-pink) 50%,
    var(--color-gradient-blue) 100%
  );
  filter: blur(5px);
  border-radius: 8px;
  background-size: 200%;
  animation: animatedGradient 4s ease-in infinite;
  border-radius: 8px;
}

@keyframes animatedGradient {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

@mixin Section {
  min-width: 280px;
  &__content {
    padding: var(--padding-top) var(--padding-main-sides) var(--padding-bottom)
      var(--padding-main-sides);
    margin-bottom: calc(var(--navbar-height) + 20px);
    width: 100%;
  }
}

@mixin Title {
  font-family: var(--font-family-subMain);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-semibold);
  color: var(--primary-color);
  width: fit-content;
  line-height: var(--font-size-3);
}
@mixin TitleGradient {
  font-family: var(--font-family-subMain);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-semibold);
  background: linear-gradient(
    90deg,
    var(--color-gradient-yellow) 0%,
    var(--color-gradient-pink) 50%,
    var(--color-gradient-blue) 100%
  );
  background-clip: text;
  width: fit-content;
  line-height: var(--font-size-3);
  color: transparent;
}

@mixin Blob {
  content: "";
  position: absolute;
  background: radial-gradient(
    circle,
    rgba(255, 205, 112, 0.719) 36%,
    rgba(200, 80, 192, 0.455) 21%
  );
  filter: blur(105px);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  z-index: var(--z-index-before);
  min-width: 300px;

  @media screen and (max-width: 1150px) {
    background: radial-gradient(
      circle,
      rgba(255, 205, 112, 0.719) 5%,
      rgba(200, 80, 192, 0.455) 61%
    );
    filter: blur(120px);
  }

  @media screen and (max-width: 750px) {
    display: none;
  }
}

@mixin ButtonType1Container {
  width: 100% !important;

  &:active {
    transform: scale(0.99) !important;
  }
}
@mixin ButtonType1Btn {
  height: auto !important;
  width: 100% !important;
  gap: 8px !important;
  background: var(--tg-theme-button-color) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 18px 30px;
  transition: all 0.1s linear !important;
  transform: none !important;

  // @media (hover: hover) {
  //   &:hover {
  //     background: var(--blue-dark-color) !important;
  //     transform: none !important;
  //   }
  // }
}

@mixin ButtonType1Text {
  color: var(--tg-theme-button-text-color);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-medium);
  transition: var(--transition-button-type1);
}

@mixin NavbarButton {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  color: var(--accent-color);
  &__text {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-medium);
    transition: all 0.1s linear;

    &.active {
      color: var(--tg-theme-button-color);
    }

    &.inactive {
      color: var(--secondary-contrast-color);
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    transition: all 0.1s linear;
    flex-grow: 1;

    &.active {
      color: var(--tg-theme-button-color);
    }

    &.inactive {
      color: var(--tg-theme-subtitle-text-color);
    }
  }
}

@mixin Switcher {
  width: 100%;
  border: 1px solid var(--tg-theme-subtitle-text-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 2px;
  gap: 5px;

  &__button {
    border-radius: 3px;
    padding: 6px;
    color: var(--tg-theme-text-color);
    font-size: var(--font-size-button);
    transition: 0.1s linear;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    &.active {
      background-color: var(--tg-theme-button-color);
    }
  }
}
