@import '../../../../../../app/styles/mixins/mixins.scss';

.Section5Slide {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (max-width: 550px) {
    gap: 20px;
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__item {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__subtitle {
    @media screen and (max-width: 950px) {
    }
  }
}

.Titlewrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media screen and (max-width: 950px) {
    justify-content: flex-start;
  }
}
.TitleGradient {
  @include TitleGradient;
}

.Title {
  @include Title;
}

.Title,
.TitleGradient {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-semibold);
  white-space: pre-wrap;
  line-height: calc(var(--font-size-3) + 2px);
}

.Text {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-regular);
  color: var(--color-gray3);
}
.Text2 {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-regular);
  color: var(--color-light);
}

.CheckBox {
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
  > svg {
    > circle {
      fill: var(--color-dark);
    }
    > g {
      path {
        stroke: var(--color-gray3);
      }
    }
  }
}
