.TitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;

  @media screen and (max-width: 700px) {
    gap: 8px;
  }
}

.Title {
  font-family: var(--font-family-subMain);
  font-size: var(--font-size-7);
  color: var(--primary-color);
  width: fit-content;
  line-height: var(--font-size-7);
  font-weight: var(--font-weight-semibold);
}

.TitleGradient {
  background: linear-gradient(
    90deg,
    var(--color-gradient-yellow) 0%,
    var(--color-gradient-pink) 50%,
    var(--color-gradient-blue) 100%
  );
  font-weight: var(--font-weight-semibold);
  background-clip: text;
  background-position: -100%;
  color: transparent;
  animation: gradientTitle 0.8s cubic-bezier(0.215, 0.31, 0.755, 1);
  animation-fill-mode: forwards;
}
